{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/rocket.png' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
    <title>Home</title>
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Simulador de Trânsito Planetário</h1>
    </div>

    <div class="content" id="front">

        <div class="text-center" id="simulations">
            <div class="row">
                <button type="button" onclick="test1()" class="btn btn-primary">Simulação 1</button>
                <button type="button" onclick="test2()" class="btn btn-primary">Simulação 2</button>
                <button type="button" onclick="test3()" class="btn btn-primary">Simulação 3</button>
                <button type="button" onclick="test4()" class="btn btn-primary">Simulação 4</button>
                <button type="button" onclick="test5()" class="btn btn-primary">Simulação 5</button>
            </div>

        </div>

        <section id="form">


            <form method="GET" action="simulator/" onsubmit="addRoom()">


                <div class="panel panel-default">
                    <div class="panel panel-heading text-center">
                        <h4><strong>Estrela</strong></h4>
                    </div>
                    <div class="panel panel-body">
                        <div class="row">

                            <img class="img-rounded col-lg-3 col-md-3 col-sm-3 col-xs-3"
                                src="{% static 'img/star.png' %}" id="iconImg">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="starName" class="form-label">Nome:</label>
                                <input id="starName" type="text" name="starName" class="form-control">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="starRadius" class="form-label">Raio:</label>
                                <input id="starRadius" type="text" name="starRadius" class="form-control"
                                    placeholder="Raio Solar (R☉)">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="starMass" class="form-label">Massa:</label>
                                <input id="starMass" type="text" name="starMass" class="form-control"
                                    placeholder="Massa Solar (M☉)">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="effectiveTemperature" class="form-label">Temperatura Efetiva:</label>
                                <input id="effectiveTemperature" type="text" name="effectiveTemperature"
                                    class="form-control" placeholder="Kelvin (K)">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="starColor" class="form-label">Cor: </label>
                                <select id="starColor" name="starColor" class="form-control">

                                    <option value="gist_heat">Vermelho</option>
                                    <option value="copper">Amarelo</option>
                                    <option value="bone">Azul</option>
                                    <option value="Greys_r">Branco</option>

                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="text-center">
                        <h3>Manchas</h3>
                    </div>
                    <div class="text-right"><button type="button" onclick="create_spots()" class="btn btn-info">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button></div>
                    <div class="panel panel-body">
                        <div class="row">

                            <div class="marginL10">
                                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" id="spots"></div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel panel-heading text-center">
                        <h4><strong>Planeta</strong></h4>
                    </div>
                    <div class="panel panel-body">
                        <div class="row">

                            <img class="img-rounded col-lg-3 col-md-3 col-sm-3 col-xs-3"
                                src="{% static 'img/planet.png' %}" id="iconImg">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="planetName" class="form-label">Nome:</label>
                                <input id="planetName" type="text" name="planetName" class="form-control">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="planetRadius" class="form-label">Raio:</label>
                                <input id="planetRadius" type="text" name="planetRadius" class="form-control"
                                    placeholder="Raio Estelar (R☉)">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="planetMass" class="form-label">Massa:</label>
                                <input id="planetMass" type="text" name="planetMass" class="form-control"
                                    placeholder="Massa da Terra (M🜨)">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="atmosphere" class="form-label">Atmosfera:</label>
                                <input id="atmosphere" type="text" name="atmosphere" class="form-control"
                                    placeholder="Raio Estelar (R☉)">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="planetAlbedo" class="form-label">Albedo:</label>
                                <input id="planetAlbedo" type="text" name="planetAlbedo" class="form-control"
                                    placeholder="Adimensional (entre 0 e 1)">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <hr>
                                <h3>Órbita</h3>
                            </div>

                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="planetSemiaxis" class="form-label">Semieixo:</label>
                                <input id="planetSemiaxis" type="text" name="planetSemiaxis" class="form-control"
                                    placeholder="Raio Estelar (R☉)">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="planetPeriod" class="form-label">Período:</label>
                                <input id="planetPeriod" type="text" name="planetPeriod" class="form-control"
                                    placeholder="Dia">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="planetInclinationAngle" class="form-label">Ângulo de Inclinação:</label>
                                <input id="planetInclinationAngle" type="text" name="planetInclinationAngle"
                                    class="form-control" placeholder="Grau (°)">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="planetObliquityAngle" class="form-label">Ângulo de Obliquidade:</label>
                                <input id="planetObliquityAngle" type="text" name="planetObliquityAngle"
                                    class="form-control" placeholder="Grau (°)">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label for="planetEccentricity" class="form-label">Excentricidade:</label>
                                <input id="planetEccentricity" type="text" name="planetEccentricity"
                                    class="form-control" placeholder="Adimensional (entre 0 e 1)">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel panel-heading text-center">
                        <h4><strong>Luas</strong></h4>
                    </div>
                    <div class="text-right"><button type="button" onclick="create_moons()" class="btn btn-info">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button></div>
                    <div class="panel panel-body">
                        <div class="row">
                            <img class="img-rounded col-lg-3 col-md-3 col-sm-3 col-xs-3"
                                src="{% static 'img/moon.png' %}" id="iconImg">

                            <!-- Start Moons!-->
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="moons"></div>


                        </div>

                    </div>
                </div>
                <div class="text-center panel panel-default">
                    <div class="panel panel-heading text-center">
                        <h4><strong>Ruído</strong></h4>
                    </div>
                    <h3>Tipo de Ruído</h3>
                    <div class="panel panel-body textL">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input id="Fog" type="radio" name="noiseType" value="FOG" onclick="noisetype('FOG')">
                            <label for="Fog">Fog</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input id="CME" type="radio" name="noiseType" value="CME" onclick="noisetype('CME')">
                            <label for="CME">CME</label>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <input id="nenhum" type="radio" name="noiseType" value="nenhum" onclick="noisetype('NONE')" checked>
                            <label for="nenhum">Nenhum</label>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="noiseDiv">
                            <!-- Dynamic Generation of Parameters -->
                        </div>
                    </div>
                </div>

                <div class="text-center row">
                    <input id="submitButton" class="btn btn-primary" type="submit" name="Submit" value="Gerar Vídeo" >
                </div>


            </form>


        </section>

        <section id="wait">

            <img src="{% static 'img/wait.gif' %}">

        </section>
    </div>


</body>

</html>