.content {
    padding: 20px;
}

.text-right {
    margin-right: 1%;
}

.marginL10 {
    margin-left: 10%;
}

.marginL5 {
    margin-left: 5%;
}

.textL {
    text-align: left;
}

.progress-bar {
    width: 0%;
}

#simulations {
    margin-bottom: 3%;
}

#iconImg {
    width: 150px;
}

#wait {
    display: none;
    text-align: center;
}